<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>削除</title>
</head>
<body>
	<h1>名前で部分検索して削除</h1>
	<form action="/delete" method="POST">
		<input type="text" name="keyword" placeholder="名前の一部を入力">
		<button type="submit">検索</button>
	</form>
	{% if users %}
		<h2>検索</h2>
		<ul>

			{% for u in users %}
				<li>
					{{ u[1] }} ({{ u[2]}} / {{ u[3] }})
					<form action="delete_confirm" method="POST" style="display:inline;">
						<input type="hidden" name="id" value="{{ u[0] }}">
						<button type="submit">削除</button>
					</form>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</body>
</html>

	
