<!DOCTYPE html>

<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>会員アドレス帳</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
			<h1>会員アドレス帳</h1>
		</header>
	<main>
		<li>
			<ul>
				<a href="/register" class="button-link">登録</a><br>
				<a href="/display" class="button-link">一欄表示</a><br>
				<a href="/search" class="button-link">キーワード検索</a><br>
				<a href="/upload" class="button-link">CSVファイルアップロード</a><br>
				<a href="/delete" class="button-link">検索して削除</a>
			</ul>
		</li>
		<br><br><br>
		{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <div class="flash-messages">
	      {% for msg in messages %}
	        <p>{{ msg }}</p>
	      {% endfor %}
	    </div>
	  {% endif %}
	{% endwith %}

</main>
</body>
</html>

	


