<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>登録画面</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h2>登録画面</h2>
	<form action="/register" method="post">
		<label>名前：</label>
		<input type="/text" name="username"><br>
		<label>電話：</label>
		<input type="text" name="tel"><br>
		<label>住所：</label>
		<input type="text" name="address"><br>
		<button type="submit">登録</button>
	</form>
	<br><br>
	<a href="/" class="button-link">TOPへ戻る</a><br>
</body>
</html>

