<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF"-8>
		<title>CSVアップロード</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<h2>CSVアップロード</h1>
		<p1>1列目：名前</p1>
		<p1>2列目：電話</p1>
		<p1>3列目：住所</p1>
		<p1>3列構成のCSVデータをDBへ取り込めます</p1>
		<form action="/upload" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" accept=".csv">
			<button type="submit">アップロード</button>
		</form>
		<br><br>
		<a href="/" class="button-link">TOPへ戻る</a><br>

	</body>
</html>

	
